<table class="table table-striped">
  <thead>
    <tr>
      <th>Select</th>
      <th>Song</th>
      <th>Artist(s)</th>
      <th>Duration</th>
      <th>Popularity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of tracks">
      <td>
        <input
          type="checkbox"
          name="{{ track.name }}"
          id="{{ track.id }}"
          value="{{ track.id }}"
          (change)="onChange(track, $event.target.checked)"
        />
      </td>
      <td>{{ track.name }}</td>
      <td>
        <ng-container *ngFor="let artist of track.artists">
          {{ artist.name }}
        </ng-container>
      </td>
      <td>{{ track.duration }}</td>
      <td>{{ track.popularity }}</td>
    </tr>
  </tbody>
</table>

<ul>
  <li *ngFor="let row of selectedTracks">
    <p>{{ row.name }}</p>
  </li>
</ul>

<button type="button" class="btn btn-danger" onclick="onClickProposeDeletion()">
  Ausgewählte Songs zur Löschung vorschlagen
</button>

<button type="button" class="btn btn-secondary">Zurück zum Menü</button>
