a {
  background-color: aquamarine;
  text-decoration: none;
  color: black;
  font-size: 40px;
  display: block;
  width: 400px;
  text-align: center;
  line-height: 200px;
  justify-content: center;
  align-items: center;
}
