/* app-landing-action {
  float: left;
  padding: 10px;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 400px;
  width: 1500px;
  justify-content: space-evenly;
  align-content: center;
}
