<div class="grid-container">
  <div class="grid-item" *ngFor="let lAction of landingActions">
    <app-landing-action [name]="lAction.name" [routerLink]="lAction.routerLink">
    </app-landing-action>
  </div>
</div>
